/*Header*/

.logo{

  font-family: American Purpose;
  font-size: 60px;
  font-weight: bold;
  }
  /*
  .logo h1{
  color:#367E18;

  }
  .logo span{
  color:#D61C4E;
  }
  */

  .btn {
  border: none;
  background-color: transparent;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  }

  .btn:hover {
  background: #eee;
  font-size:14px;
  }

  .container {
  padding: 2rem 0rem;
  }

  @media (min-width: 576px){

  .btn-round {
  border-radius: 3rem;
  }


  .sign-up {
  padding: 0.3rem 0rem;
  }
  }
  /*Navbar*/
  .nav-text{
  padding:10px;
  font-size:16px;
  }
