 <!--Footer-->
 <footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">

        <div>
          <h4>Address</h4>
          <p>
            Shop 15, Janpath Shopping Centre,<br> Behind Sahajanand College,<br> Ambavadi, Ahmedabad
          </p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">

        <div>
          <h4>Reservations</h4>
          <p>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">

        <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>11AM - 23PM</strong><br>

          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>TwistedTopping</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by sujata
    </div>
  </div>

</footer>
