<main id="main">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about/about1.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>Book a Table</h4>
            <p>+1 5589 55488 55</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
              <h3>People Say This Place Is Known For</h3>
            <ul>
              <li><i class="fa-regular fa-circle"></i> Worth the Money</li>
              <li><i class="fa-regular fa-circle"></i> Extensive Menu</li>
              <li><i class="fa-regular fa-circle"></i> Proper Packaging</li>
      <li><i class="fa-regular fa-circle"></i> Food Presentation</li>
      <li><i class="fa-regular fa-circle"></i> Great Portions</li>
      <li><i class="fa-regular fa-circle"></i> Timely Service</li>
            </ul>
      <br>
      <br>
      <h3>More Info</h3>
            <p>
       pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, in a commercial setting, using a wood-fired oven heated to a very high temperature—and served hot.
            </p>

            <div class="videoabout position-relative mt-4">
              <img src="./assets/img/about/video_about.jfif" class="img-fluid" height="500px" width="800px" alt="">
              <a href="https://youtu.be/tv_hWeyuCV8" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  </main>
