/*Contact*/
.contact .info-item {
  background: #FFF4CF;
  padding: 30px;
  height: 100%;
  }

  .contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
  }

  .contact .info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  }

  .contact .info-item .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(55, 55, 63, 0.7);
  line-height: 1;
  margin: 4px 6px 0 0;
  transition: 0.3s;
  }

  .contact .info-item .social-links a:hover {
  color: #ce1212;
  }

  #myForm{
  padding-top:20px;
  }
