<!--SING UP Model-->
<div class="modal hide fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Sign Up</h4>
		  <img src="../assets/img/login_img.png" height="200px" width="200px"/>
        </div>
        <div class="d-flex flex-column text-center">
          <form [formGroup]="loginB" (ngSubmit)="loginB.valid && registerForm()">
            <div class="form-group">
              <input type="text" class="form-control" id="fname" placeholder="Your First Name..." formControlName="fname">
              <div *ngIf="fnamectr.touched && fnamectr.invalid" class="alert alert-danger">
                <div *ngIf="fnamectr.hasError('required')">
                  First Name is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="lname" placeholder="Your Last Name..." formControlName="lname">
              <div *ngIf="lnamectr.touched && lnamectr.invalid" class="alert alert-danger">
                <div *ngIf="lnamectr.hasError('required')">
                  Last Name is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Your email address..." formControlName="email">
              <div *ngIf="emailctr.touched && emailctr.invalid" class="alert alert-danger">
                <div *ngIf="emailctr.hasError('required')">
                  Email is required
                </div>
                <div *ngIf="emailctr.hasError('email')">
                  Correct Email is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Your password..." formControlName="password">
              <div *ngIf="passctr.touched && passctr.invalid" class="alert alert-danger">
                <div *ngIf="passctr.hasError('required')">
                  Password is required.
                </div>
                <div *ngIf="passctr.hasError('minlength')">
                  Password should be 6 characters atleast.
                </div>
                <div *ngIf="passctr.hasError('maxlength')">
                  Password won't accept more than 20 characters.
                </div>
                <div *ngIf="passctr.hasError('pattern')">
                  Password should include at least 1 alphabet, 1 number and 1 special character.
                </div>
            </div>
            </div>
            <button type="submit" class="btn btn-info btn-block btn-round" [disabled]="loginB.invalid">Sign Up</button>
          </form>
          <div class="text-center sign-up">
            Already registered ? <a [routerLink]="['/home','sign']">Sign In</a> here.
          </div>
          <div class="text-center text-muted delimiter">or use a social network</div>
          <div class="d-flex justify-content-center social-buttons">
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fab fa-facebook"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
              <i class="fab fa-linkedin"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
