*{
  background-color: white;
}

.card {
  margin: 100px 100px 50px 300px;
  text-align: center;
  }
.btnclick{
  padding-bottom: 100px;
}
  .card .card-img {
  padding: 0 60px;
  margin-bottom: 15px;
  height:200px;
  width:300px;
  }
.card-img{
  margin-left: 150px;
}
  .card h4 {
  font-size: 22px;
  font-weight: 500;
  color:#37373f;
  font-weight: 30px;
  margin-bottom: 5px;
  }

  .card .card-text {
  color: #8d8d9b;
  margin-bottom: 5px;
  }

  .card {
  border:0;
  font-size: 20px;
  font-weight: 700;
  color:  #ce1212;
  }
